shared_buffers = {{ pg_shared_buffers }}
effective_cache_size = {{ pg_effective_cache_size }}
work_mem = {{ pg_work_mem }}
maintenance_work_mem = {{ pg_maintenance_work_mem }}
max_connections = {{ pg_max_connections }}