services:
  app:
    build:
      context: .
    ports:
      - "127.0.0.1:9000:80"

    extra_hosts:
      - "host.docker.internal:host-gateway"

    environment:
      POSTGRES_HOST: host.docker.internal
      POSTGRES_DB: {{ postgres_db }}
      POSTGRES_USER: {{ postgres_user }}
      POSTGRES_PASSWORD: {{ postgres_password }}