upload_max_filesize = {{ php_upload_max_filesize }}
post_max_size = {{ php_post_max_size }}
memory_limit = {{ php_memory_limit }}
max_execution_time = {{ php_max_execution_time }}
realpath_cache_size = {{ php_realpath_cache_size }}

opcache.memory_consumption = {{ opcache_memory }}
opcache.interned_strings_buffer = {{ opcache_interned_strings_buffer }}
opcache.max_accelerated_files = {{ opcache_max_accelerated_files }}